* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    // width: 1600px;
    margin: 0 auto;
    overflow-x: hidden;
}

section {
    position: relative;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.p-400 {
    font-weight: 400;
}

.p-500 {
    font-weight: 500;
}

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
    @media(max-width: 1599px) {
        max-width: 94%;
    }
}

.wrapper__header {
    width: 1160px;
    margin: 0 auto;
    @media(max-width: 1599px) {
        max-width: 940px;
    }
    @media(max-width: 999px) {
        max-width: 94%;
    }
    @media(max-width: 639px) {
        max-width: 94%;
    }
}
.wrapper__map {
    // max-width: 1160px;
    // width: 100%;
    margin: 0 auto;
    @media(max-width: 639px) {
        width: 130%;
    }
}

/* ХЭДЕР */

header {
    height: 80px;
    width: 100%;
    background: #000000;
    display: flex;
    align-items: center;
    z-index: 2;
    @media(max-width: 999px) {
        height: 34px;
        position: fixed;
        z-index: 1000;

    }
}

.header {
    display: flex;
    justify-content: space-between;
    &__nav {
        display: flex;
    }
    .author {
        font-weight: 100;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
        a {
            text-decoration: underline;
            color: #fff;
            &:hover {
                cursor: pointer;
                color: #4B9200;
            }
        }
    }
}

// Стили для логотипа в хэдере и футере

.logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 82px;
    height: 52px;
    margin-right: 60px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    @media(max-width: 999px) {
        border: none;
        height: 34px;
        width: 47px;
    }
    &:hover .logo-text {
        cursor: pointer;
        color: #4B9200;
    }
    .logo-text {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 19.0145px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
        @media(max-width: 999px) {
            font-size: 12.2899px;
            line-height: 120%;
        }
    }
    .logo-bamboo {
        position: absolute;
        left: 13.23px;
        top: 24.64px;
        @media(max-width: 999px) {
           top: 10.64px;
           left: 2.23px;
        }
    }
}
.logo__footer {
    position: relative;
    display: flex;
    align-items: center;
    width: 82px;
    height: 52px;
    margin-right: 60px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    &:hover .logo-text {
        cursor: pointer;
        color: #4B9200;
    }
    .logo-text {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 19.0145px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
    }
    .logo-bamboo {
        position: absolute;
        left: 13.23px;
        top: 24.64px;
    }
}

nav {
    display: flex;
    align-items: center;
    ul {
        display: flex;
        li {
            margin-right: 55px;
            @media(max-width: 1599px) {
                margin-right: 48px;
            }
            @media(max-width: 999px) {
                margin-right: 30px;
            }
            a {
                font-style: normal;
                font-size: 16px;
                line-height: 140%;
                color: #FFFFFF;
                &:hover:not(.nav__item_active) {
                    color: #4B9200;
                }
            }
            .nav__item_active {
                color: #FE9013;
                pointer-events: none;
            }
        }
    }
}
// Выезжающее мменю в хедере
@media (max-width: 640px){
    .menu-body{
        display: none;
    }
    .menu-body{
        position: absolute;
        width: 100%;
        height: 400px;
        top: 0;
        left: 0;
        background-color: #4d4959;
        padding: 20px 0px 0px 0px;
    }
    .nav__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav__list li{
        margin: 20px 0px;
    }
    // ---------   Burger-menu--------------
   .icon-menu{
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        width: 18px;
        height: 10px;
        cursor: pointer;
        z-index: 5;
        @media(max-width: 639px) {
           top: 12px;
           right: 10px;
        }
    }
    .icon-menu span{
        position: absolute;
        top: 4px;
        left: 0px;
        width: 100%;
        height: 2px;
        background-color: #fff;
        animation: 0.3s;
    }
    .icon-menu span:first-child{
        top: 0px;
    }
    .icon-menu span:last-child{
        top: auto;
        bottom: 0px;
    }
    .icon-menu:active span{
        transform: scale(0);
        
    }
    .icon-menu:active :first-child{
        transform: rotate(-45deg);
        top: 8px;
    }
    .icon-menu:active span:last-child{
        transform: rotate(45deg);
        bottom: 8px;
    }
    // ----------END Burger-menu -------------
}
// Стили кнопок общие
.btn {
    display: block;
    width: 298px;
    height: 54px;
    font-size: 16px;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    &:hover {
        cursor: pointer;
        background: #4B9200;
    }
    &:active {
        box-shadow: none;
        border: none;
        outline: none;
    }
    &:visited {
        box-shadow: none;
        border: none;
    }
}

.btn-oval {
    border-radius: 25px;
}

.btn-rect {
    border-radius: 5px;
}

//  Конец общих стилей кнопок

// MAP {}
main {
    overflow: hidden;
}
.main {
    position: relative;
    height: 720px;
    width: 100%;
    background: #EAF7FE;
    // padding: 104px 0 120px;
    display: flex;
    // z-index: -5;
    @media(max-width: 1599px) {
        // padding: 104px 0 0;
    }
    @media(max-width: 639px) {
        overflow: hidden;
        padding: 70px 0 10px;
    }
}
.map {
    // height: 100%;
    width: 100%;
    // margin: 104px 0 120px;
    background: #EAF7FE;
    @media(max-width: 1599px) {
        width: 100%;
        // margin-left: 45px;
        padding-bottom: 14px;
    }
     @media(max-width: 999px) {
        margin-left: 0;
        padding-bottom: 0;
    }
    @media(max-width: 639px) {
        width: 125%;
        margin-left: -11%;
    }

}
.map-block {
    position: relative;
    width: 1083px;
    height: 100%;
    margin: 0 auto;
    // margin-left: 4%;
    @media(max-width: 1599px) {
        margin-left: 0;
        // margin-top: -16px;
        // margin-bottom: 34px;
    }
    @media(max-width: 999px) {
        width: 800px;
        height: auto;
        margin-top: 60px;
    }
    @media(max-width: 639px) {
        width: 110%;
        margin: 0 auto;
    }
}

.map__icon {
    position: absolute;
    &:hover {
        cursor: pointer;
    }
}

.map__icon_eagle-1 {
    top: calc(50% - 0%);
    left: calc(50% - 42%);
    // &:hover .marker__los-ang {
    //     fill: #F9804B;
    // }
    // @media(max-width: 1599px) {
    //     left: 12%;
    // }
    // @media(max-width: 1139px) {
    //     left: 12%;
    // }
    @media(max-width: 999px) {
        width: 24px;
        left: 9%;
    }
    @media(max-width: 639px) {
        left: 0;
        width: 16px;
    }
}

.map__icon_eagle-2 {
    top: calc(50% + 6%);
    left: calc(50% - 39%);
    // @media(max-width: 1599px) {
    //     left: 15%;
    // }
    // @media(max-width: 1139px) {
    //     left: 15%;
    // }
    @media(max-width: 999px) {
        width: 27px;
        left: 13%;
    }
    @media(max-width: 639px) {
        width: 18x;
        left: 3%;
    }
}

.map__icon_crocodale {
    top: calc(50% + 8%);
    left: calc(50% - 25%);
    // @media(max-width: 1599px) {
    //     left: 27%;
    // }
    // @media(max-width: 1139px) {
    //     left: 27%;
    // }
    @media(max-width: 999px) {
        width: 41px;
        left: 23%;
    }
    @media(max-width: 639px) {
        width: 28px;
        left: 17%;
    }
}

.map__icon_gorillas {
    top: calc(50% + 22%);
    left: calc(50% - 0%);
    // @media(max-width: 1599px) {
    //     left: 55%;
    // }
    // @media(max-width: 1139px) {
    //     left: 55%;
    // }
    @media(max-width: 999px) {
        width: 27px;
        left: 50%;
    }
    @media(max-width: 639px) {
        width: 18px;
    }
}

.map__icon_panda-1 {
    top: calc(50% - 6%);
    left: calc(50% + 24%);
    // @media(max-width: 1599px) {
    //     // width: 32px;
    //     left: 80%;
    //     top: 48%;
    // }
    // @media(max-width: 1139px) {
    //     top: 46%;
    //     left: 80%;
    // }
    @media(max-width: 999px) {
        width: 20px;
        left: 75%;
    }
    @media(max-width: 639px) {
        width: 13px;
        top: 50%;
        left: auto;
        right: 14%;
    }
    @media(max-width: 320px) {
        top: 46%;
        right: 14%;
    }
}

.map__icon_panda-2 {
    top: calc(50% + 4%);
    left: calc(50% + 22%);
    // @media(max-width: 1599px) {
    //     // width: 40px;
    //     left: 80%;
    // }
    @media(max-width: 999px) {
        width: 25px;
        left: 75%;
    }
    @media(max-width: 639px) {
        width: 17px;
        left: auto;
        right: 14%;
    }
}
.aside__plus-minus {
    width: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
    @media(max-width: 999px) {
        display: none;
    }
}
.plus-minus {
    // right: 5%;
    bottom: 20px;
    position: sticky;
    top: calc(100vh - 150px);
    z-index: 100;
    @media(max-width: 1599px) {
        top: calc(100vh - 200px);
        right: 20px;
        bottom: -14px;
    }
}

.plus,
.minus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 54px;
    height: 54px;
    background: #fff;
    border-radius: 5px;
    transition: .2s;
    z-index: 100;
    // @media(max-width: 1599px) {
    //     margin: 9px;
    // }
}

.plus-icon,
.minus-icon {
    fill: #333B41
}

.plus:hover,
.minus:hover {
    border: 1px solid #4B9200;
}

.plus:hover .plus-icon,
.minus:hover .minus-icon {
    cursor: pointer;
    fill: #4B9200;
    // background: rgb(213, 213, 213);
}

.plus:active,
.minus:active {
    cursor: pointer;
    background: #4B9200;
}

.plus:active .plus-icon,
.minus:active .minus-icon {
    fill: #fff;
}

// Тултипы
.tooltip__block {
    position: absolute;
    display: flex;
    overflow: hidden;
    transition: 1s;
    // border: 1px solid #000;
    &_eagle {
        flex-direction: column;
        align-items: flex-start;
        top: calc(50% + 2%);
        left: calc(50% - 38%);
        // @media(max-width: 1599px) {
        //     left: calc(8% - 160px/2 + 20px);
        // }
        // @media(max-width: 1001px) {
        //     left: calc(8% - 160px/2 + 20px);
        // }
        // @media(max-width: 999px) {
        //     top: 52%;
        //     left: calc(5% - 160px/2);
        // }
        @media(max-width: 830px) {
            left: calc(3% - 160px/2);
        }
        @media(max-width: 649px) {
            top: 50%;
            left: calc(2% - 160px/2);
        }
        @media(max-width: 639px) {
            align-items: flex-start;
            top: 51%;
            left: 4%;
        }
    }
    &_crocodale,
    &_gorillas,
    &_panda2 {
        flex-direction: column;
        align-items: flex-start;
    }
    &_crocodale {
        top: calc(50% + 5%);
        left: calc(50% - 28%);
        // @media(max-width: 1599px) {
        //     top: 54%;
        //     left: calc(32% - 160px/2 + 20px);
        // }
        // @media(max-width: 1139px) {
        //     top: 53%;
        //     left: calc(34% - 160px/2 + 20px);
        // }
        @media(max-width: 999px) {
            top: 53%;
            left: calc(30% - 160px/2 + 20px);
        }
        @media(max-width: 640px) {
           align-items: center;
           top: 53%;
           left: calc(22% - 160px/2 + 20px);
        }
        @media(max-width: 639px) {
            top: 54%;
            left: calc(16% - 160px/2 + 20px);
        }
        @media(max-width: 499px) {
           left: 3%;
        }
        @media(max-width: 430px) {
           left: 0%;
        }
        @media(max-width: 389px) {
           left: -2%;
        }
        @media(max-width: 320px) {
            top: 53%;
           left: -5%;
        }
    }
    &_gorillas {
        top: calc(50% + 16%);
        left: calc(50% - 0%);
        // @media(max-width: 1599px) {
        //     top: 66%;
        //     left: 54%;
        // }
        // @media(max-width: 1139px) {
        //     top: 65%;
        //     left: 55%;
        // }
        @media(max-width: 999px) {
            top: 65%;
            left: 51%;
        }
        @media(max-width: 640px) {
            top: 64%;
            left: 50%;
        }
        @media(max-width: 639px) {
            align-items: center;
            top: 45%;
            left: 41%;
        }
        @media(max-width: 579px) {
            top: 42%;
            left: 39%;
        }
        @media(max-width: 499px) {
            top: 38%;
            left: 36%;
        }
        @media(max-width: 430px) {
            top: 33%;
            left: 33%;
        }
        @media(max-width: 380px) {
            top: 28%;
            left: 30%;
        }
        @media(max-width: 320px) {
            top: 22%;
            left: 28%;
        }
    }
    &_panda {
        top: calc(50% - 4%);
        left: calc(50% + 28%);
        // @media(max-width: 1599px) {
        //     left: 83%;
        //     top: 36%;
        // }
        // @media(max-width: 1139px) {
        //     left: 84%;
        //     top: 34%;
        // }
        @media(max-width: 999px) {
            flex-direction: column;
            align-items: flex-end;
            top: 29%;
            left: 64%;
        }
        @media(max-width: 890px) {
            left: 62%;
        }
        @media(max-width: 830px) {
            top: 27%;
        }
        @media(max-width: 760px) {
            top: 21%;
        }
        @media(max-width: 690px) {
            left: 59%;
        }
        @media(max-width: 649px) {
            top: 17%;
            left: 58%;
        }
        @media(max-width: 639px) {
            top: 27%;
            left: auto;
            right: 9%;
        }
        @media(max-width: 579px) {
            top: 24%;
            right: 7%;
        }
        @media(max-width: 499px) {
            top: 20%;
            right: 5%;
        }
        @media(max-width: 440px) {
            flex-direction: row;
            align-items: start;
            top: 43%;
        }
    }
    &_panda2 {
        top: calc(50% + 4%);
        left: calc(50% + 28%);
        // @media(max-width: 1599px) {
        //     top: 55%;
        //     left: 83%;
        // }
        // @media(max-width: 1139px) {
        //     top: 53%;
        //     left: 83%;
        // }
        @media(max-width: 999px) {
            align-items: flex-end;
            left: 62%;
        }
        @media(max-width: 890px) {
            top: 54%;
            left: 60%;
        }
        @media(max-width: 830px) {
            left: 59%;
        }
        @media(max-width: 760px) {
            left: 57%;
        }
        @media(max-width: 690px) {
            left: 55%;
        }
        @media(max-width: 649px) {
            top: 53%;
            left: 54%;
        }
        @media(max-width: 639px) {
            top: 53%;
            left: auto;
            right: 12%;
        }
    }
}

.tooltip {
    position: relative;
    width: 160px;
    height: 108px;
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 5px;
    transform: translateY(-100%);
    &__panda {
        transform: translateY(0%);
        transform: translateX(-100%);
        @media(max-width: 999px) {
            transform: translateX(0%);
            transform: translateY(100%);
            order: 1;
        }
        @media(max-width: 440px) {
            transform: translateY(0%);
            transform: translateX(100%);
        }
    }
    &__gorillas {
        @media(max-width: 639px) {
            transform: translateX(0%);
            transform: translateY(100%);
            order: 1;
        }
    }
    &__mame,
    &__location {
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        cursor: default;
    }
    &__location {
        margin-bottom: 11px;
    }
    &__btn {
        display: block;
        width: 100%;
        background: #F1F3F2;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #4B9200;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 0 1px #4B9200;
        }
    }
}

// стрелка тултипа
.tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.tooltip__panda2::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    @media(max-width: 639px) {
        bottom: 100%;
        left: 85%;
    }
}
.tooltip__panda::after {
    content: " ";
    position: absolute;
    left: -6%;
    top: 10%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    @media(max-width: 999px) {
        top: 100%;
        left: 50%;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
    }
    @media(max-width: 999px) {
        top: 100%;
        left: 80%;
    }
    @media(max-width: 440px) {
        top: 10%;
        left: 105%;
        border-color: transparent transparent transparent #fff;
    }
}
.tooltip__gorillas::after {
    @media(max-width: 639px) {
        top: 100%;
        left: 50%;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
    }
}
.tooltip__block_eagle .tooltip__active,
.tooltip__block_crocodale .tooltip__active,
.tooltip__block_gorillas .tooltip__active,
.tooltip__block_panda2 .tooltip__active {
    z-index: 5;
    transform: translateY(0);
    opacity: 1;
}

.tooltip__block_panda .tooltip__active {
    z-index: 1;
    transform: translateX(0);
    opacity: 1;
    @media(max-width: 999px) {
        transform: translateY(0%);
    }
    @media(max-width: 440px) {
        transform: translateX(0%);
    }
}
// .tooltip__block_gorillas:hover .tooltip__gorillas {
//     z-index: 1;
//     transform: translateX(0);
//     opacity: 1;
//     @media(max-width: 639px) {
//         transform: translateY(0%);
//     }
// }
.tooltip__eagle,
.tooltip__crocodale,
.tooltip__gorillas,
.tooltip__panda,
.tooltip__panda2 {
    z-index: -5;
    opacity: 0;
    transition: 1s;
}

.point {
    margin-bottom: 40px;
    height: 33px;
    width: 26px;
    background-image: url(../../assets/icons/marker.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
    @media(max-width: 1599px) {
        height: 27px;
        width: 22px;
    }
    @media(max-width: 999px) {
        height: 17px;
        width: 14px;
    }
    @media(max-width: 639px) {
        height: 13px;
        width: 10px;
        margin-bottom: 10px;
    }
    &__panda {
        margin-bottom: 0;
        margin-right: 20px;
        // margin-top: 40%;
        @media(max-width: 999px) {
            margin-top: 5%;
            order: 2;
        }
    }
    &__gorillas {
        @media(max-width: 639px) {
            margin-top: 5%;
            order: 2;
        }
    }
}

.point__eagle:hover,
.point__crocodale:hover,
.point__gorillas:hover,
.point__panda:hover,
.point__panda2:hover {
    cursor: pointer;
    background-image: url(../../assets/icons/marker-orange.svg);
}

footer {
    position: relative;
    background: #111115;
    padding: 40px 0 50px;
    z-index: 2;
    @media(max-width: 999px) {
        padding: 12px 0 20px;
    }
    @media(max-width: 639px) {
        padding: 6px 0 28px;
    }
    .footer__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
        @media(max-width: 1599px) {
            margin-bottom: 32px;
            padding-right: 15px;
        }
        @media(max-width: 999px) {
            padding-left: 0;
        }
        @media(max-width: 639px) {
            display: block;
            margin-bottom: 40px;
            padding-right: 0;
        }
        .subscribe__form {
            @media(max-width: 999px) {
                display: none;
            }
            @media(max-width: 639px) {
                display: block;
                text-align: center;
            }
        }
    }
    .logo {
        height: 100%;
    }
    .logo__footer {
        @media(max-width: 639px) {
            border: none;
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;
        }
        .logo-bamboo{
        @media(max-width: 639px) {
            left: 53%;
            top: 12px;
        }
    }
    }
    
    .subscribe__title {
        font-weight: normal;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 15px;
        color: #FFFFFF;
        @media(max-width: 639px) {
            margin-top: 82px;
            font-size: 16px;
            margin-bottom: 12px;
        }
    }
    .email {
        border: 1px solid #F9804B;
        border-radius: 2px;
        width: 228px;
        margin-right: 10px;
        padding: 10px;
        background: #111115;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #BDBDBD;
        @media(max-width: 1599px) {
            margin-right: 0;
        }
       
    }
    .submit {
        border-radius: 5px;
        border: none;
        width: 130px;
        height: 44px;
        text-align: center;
        background: #F1F3F2;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        @media(max-width: 1599px) {
            margin-right: 22px;
        }
        @media(max-width: 639px) {
            margin: 10px 0 0;
            height: 40px;
            width: 128px;

        }
        &:hover {
            cursor: pointer;
        }
    }
    form:valid input:focus {
        outline: none;
        border: 1px solid #4B9200;
        color: #4B9200;
    }
    form:invalid input:focus {
        outline: none;
        color: #D31414;
        border: 1px solid #D31414;
    }
    form:valid .submit:active {
        color: #4B9200;
        border: 1px solid #4B9200;
    }
    form:valid .submit {
        color: #4B9200;
    }
    form:invalid .submit:hover {
        color: #D31414;
        border: 1px solid #D31414;
    }
}
.footer__button {
    @media(max-width: 639px) {
        width: 100%;
        max-width: 298px;
        margin: 0 auto;
    }
}
.footer__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 44px;
    @media(max-width: 1599px) {
        // padding: 0 0 10px 0;
    }
    @media(max-width: 999px) {
        margin-top: 60px;
        padding: 0;
    }
    @media(max-width: 639px) {
       flex-direction: column;
        margin-top: 34px;
        padding-bottom: 0;
    }
    .social-link__block_item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        @media(max-width: 999px) {
            margin-bottom: 20px;
        }
        &:hover .social-link__icon {
            cursor: pointer;
            background: #4B9200;
        }
    }
    .social-link__icon {
        width: 26px;
        height: 26px;
        margin-right: 12px;
        border-radius: 50%;
        background: rgba(196, 196, 196, 0.5);
        text-align: center;
        line-height: 30px;
        @media(max-width: 639px) {
            margin: 15px;
        }
    }
    .social-link__title {
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
        &:hover {
            color: #4B9200;
        }
        @media(max-width: 999px) {
            display: none;
        }
    }
    .social-link__block {
        @media(max-width: 999px) {
            position: absolute;
            top: 12px;
            right: 10px;
        }
        @media(max-width: 639px) {
            display: flex;
            position: absolute;
            top: 60px;
            right: 0;
            right: calc(50% - 222px/2);
        }
    }
    nav {
        @media(max-width: 639px) {
            margin: 16px auto 0;
            order: 2;
           
        }
    }
    .nav__list {
        display: inline-flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-bottom: 10px;
        @media(max-width: 999px) {
            margin-left: 0;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0;
        }
         & li {
            margin-right: 0;
            margin-left: 58px;
            @media(max-width: 1599px) {
                margin-left: 46px;
            }
            @media(max-width: 999px) {
                margin-left: 0;
                margin-right: 37px;
                margin-bottom: 0;
                font-weight: 400;
            }
            @media(max-width: 639px) {
                margin-right: 14px;
                margin-left: 13px;
            }
            &:first-child {
                @media(max-width: 639px) {
                    margin-left: 0;
                }
            }
            &:last-child {
                @media(max-width: 639px) {
                    margin-right: 0;
                }
            }
            & .p-500 {
                font-weight: 400;
            }
        }
    }
    .designed-p {
        font-weight: 200;
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 10px;
        color: #FFFFFF;
        @media(max-width: 999px) {
            font-size: 15px;
            margin-bottom: 0;
            line-height: 200%;
        }
        @media(max-width: 639px) {
            order: 1;
        }
    }
    .designed:hover .designed-p {
        color: #4B9200;
        text-decoration: underline #4B9200;
    }
}